.count-down {
  position: relative;
  height: 100%;
}
.count-down .title-box {
  font-size: 54px;
  height: 132px;
  line-height: 132px;
  text-align: center;
  background: #fff;
  color: #2f3243;
}
.count-down .down-content {
  background: #fff;
}
.count-down .down-content .time-data {
  padding: 162px 0;
  background: #fff;
  color: #2f3243;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}
.count-down .down-content .count-tips {
  color: #2f3243;
  text-align: center;
  height: 126px;
  line-height: 126px;
  font-size: 45px;
}
.count-down .action {
  margin: 0 auto;
  margin-top: 120px;
  width: 1000px;
  height: 144px;
  line-height: 144px;
  color: #fff;
  font-size: 51px;
  text-align: center;
  background: linear-gradient(#548eff, #24b2ff);
  border-radius: 12px;
}
